.text-ttt {
    font-family: "Roboto Mono", monospace;
    font-size: .95rem;
}

.design-strut-1 {
    position: fixed;
    width: 150vw;
    bottom: -20vh;
    height: 55vh;
    background-color: #005bbd;
    left: 0;
    z-index: -100;
    transform: rotate(-15deg);
    box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.5) inset;
}

.design-strut-2 {
    position: fixed;
    width: 150vw;
    bottom: -10vh;
    height: 55vh;
    background-color: #6cb6ff;
    right: 25vw;
    z-index: -100;
    transform: rotate(75deg);
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.3) inset, 0px 0px 30px -10px rgba(0,0,0,0.5);
}

.transition-opacity {
    transition: opacity 1s;
}

.flex-self-top {
    align-self: flex-start;
}

.flex-self-bottom {
    align-self: flex-end;
}

.flex-self-expand {
    flex: 1;
}

.flex-separator {
    flex-basis: 100%;
}

html,
body {
    min-height: 100vh;
    box-sizing: border-box;
}

body {
    /* Used to make sure that the position:absolute footer is position in relation to the body */
    position: relative;
    padding-bottom: 80px;
}

.header-sidelinks {
    max-width: calc((100vw - 1300px) / 2);
    min-width: 200px;
}

.document-sidemenu.uk-tab-left > * > a {
    padding: 10px 20px;
}